
 <h1>hi dear student  its Our Courses!</h1>

 @if (coursesList.length === 0) {
   <p>No courses available.</p>
 }
 
 @if (errorMessage) {
   <p class="error">{{ errorMessage }}</p>
 }
 
 @if (coursesList.length > 0) {
   @if (addMassege()) {
     <p class="error">{{ addMassege() }}</p>
   }
 
   <mat-list>
     @for (course of coursesList; track course.id) {
       <mat-card>
         <mat-card-header>
           <mat-card-title>{{ course.title }}</mat-card-title>
           <mat-card-subtitle>Teacher: {{ course.teacherName }}</mat-card-subtitle>
         </mat-card-header>
 
         <mat-card-content>
           <p>{{ course.description }}</p>
         </mat-card-content>
 
         <mat-card-actions>
           <button mat-button color="primary" (click)="addToCourse(course.id)">Join Course</button>
           <button mat-button color="warn" (click)="leaveCourse(course.id)">Leave Course</button>
           <button mat-button (click)="viewDetails(course.id)">View More Details</button>

   
 
 
         </mat-card-actions>
 
         @if (idAddTocourse === courseIdChoosen) {
           <p class="success">You added to the course!!</p>
         }
 
         @if (courseIdChoosen === course.id) {
           <app-single-course [courseId]="course.id"></app-single-course>
         }
       </mat-card>
     }
   </mat-list>
 }
  
  